---
Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ReflowComments: true

# Indentation
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
AccessModifierOffset: -4
IndentCaseLabels: true

# * and & on type side
PointerAlignment: Left
ReferenceAlignment: Left

FixNamespaceComments: false
ColumnLimit: 120

AlignConsecutiveAssignments:
  Enabled: true

BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
